.title {
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  background: rgb(61, 61, 99);
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #082039;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}